@model RegisterUserModel

<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>create account</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">create account</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>create account</h3>
                <div asp-validation-summary="All"></div>
                @if (ViewData["ValidationMessage"] != null) 
                {
                    // failed register.
                    <span class="validation-message valid">@ViewData["ValidationMessage"]</span>
                }
                <div class="theme-card">
                    <form class="theme-form" method="post" enctype="multipart/form-data" role="form"
                          asp-controller="Users" asp-action="Register">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">First Name</label>
                                <input asp-for="FirstName" type="text" class="form-control" id="fname" placeholder="First Name"
                                       required="">
                                <span asp-validation-for="FirstName" ></span>
                            </div>
                            <div class="col-md-6">
                                <label for="review">Last Name</label>
                                <input asp-for="LastName" type="text" class="form-control" id="lname" placeholder="Last Name"
                                       required="">
                                <span asp-validation-for="LastName" ></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">email</label>
                                <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Email" required="">
                                <span asp-validation-for="Email" ></span>
                            </div>
                            <div class="col-md-6">
                                <label for="review">Password</label>
                                <input asp-for="Password" type="password" class="form-control" id="review"
                                       placeholder="Enter your password" required="">
                                <span asp-validation-for="Password" ></span>
                            </div>
                            <button type="submit" class="btn btn-solid">create account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->